parameters:
  level: max
  paths:
    - src
  ignoreErrors:
    - message: '/^Call to an undefined method object::getValue\(\)\.$/'
      path: src/AbstractIdentity.php
    - message: '/^Class Ramsey\\Uuid\\Nonstandard\\Uuid not found\.$/'
      path: src/AbstractUuidIdentity.php
